<div class="container">
	<%= render 'noticeAlert'%>
	<div class = "row" align = "center">
		<div class = "col-md-12"><h1 style = "color: white; font-size: 700%">Report Generation</h1></div>
	</div>
	

	<%= form_tag import_reports_path, multipart:true, html: {class: "form-horizontal"}  do %>
		<br/><br/><br/><br/>
		<font color = "white">
			<%#= label_tag(:biometrics, "Biometrics CSV: ", class: "col-md-2 control-label")%>	
			<div class = "row">
				<div class = "col-md-4" style = "font-size: 200%"><b>Biometrics CSV:</b></div>
				<div class = "col-md-8"><%= file_field_tag(:biometrics)%></div>
			</div>
			<br/><br/>
			<%#= label_tag(:falco, "Falco TXT: ", class: "col-md-2 control-label")%>
			<div class = "row">
				<div class = "col-md-4" style = "font-size: 200%"><b>Falco TXT:</b></div>
				<div class = "col-md-8"><%= file_field_tag(:falco)%></div>
			</div>
			<br/><br/>
			<%#= label_tag(:file, "iEMS CSV: ", class: "col-md-2 control-label")%>
			<div class = "row">
				<div class = "col-md-4" style = "font-size: 200%"><b>iEMS CSV:</b></div>
				<div class = "col-md-8"><%= file_field_tag(:file)%></div>
			</div>
			<br/><br/>
			<%= submit_tag "Upload", class: "btn btn-default" %>
		</font>
	<% end %>
	

<script>
  // $(function(){
  //   $("#table_id").dataTable({
  //   	"aaSorting": [[ 0, "asc" ], [ 1, "asc" ]]
  //   });
  // })
  // $(function(){
  //   $("#table_id2").dataTable({
  //   	"aaSorting": [[ 3, "asc" ]]
  //   });
  // })
  // $(function(){
  //   $("#table_id3").dataTable({
  //   	"aaSorting": [[ 2, "asc" ], [ 0, "asc"]]
  //   });
  // })
</script>

<!-- <br/><br/><br/>
	<h1>Attendance</h1>
	<table id = "table_id">
		<thead>
			<tr>
				<th>Employee ID</th>
				<th>Date</th>
				<th>Time In</th>
				<th>Time Out</th>
			</tr>
		</thead>
		<tbody>
			<%#@attendances.each do |attendance|%>
				<tr>
					<td><%#= attendance.employee_id%></td>
					<td><%#= attendance.attendance_date.to_date.strftime('%m/%d/%Y')%></td>
					<td><%#= attendance.time_in.strftime('%H:%M:%S')%></td>
					<%#if attendance.time_out.nil? == false%>
						<td><%#= attendance.time_out.strftime('%H:%M:%S')%></td>
					<%#else%>
						<td><%#= attendance.time_out%></td>
					<#%end%>
				</tr>
			<%#end%>
		</tbody>
	</table>
	<br/><br/><br/>
	<h1>Requests</h1>
	<table id = "table_id2">
		<thead>
			<tr>
				<th>Date</th>
				<th>Day</th>
				<th>Department</th>
				<th>Employee ID</th>
				<th>OT Hours</th>
				<th>UT Time</th>
				<th>Vacation Leave</th>
				<th>Sick Leave</th>
				<th>Official Business</th>
				<th>Remarks</th>
			</tr>
		</thead>
		<tbody>
			<%#@requests.each do |request|%>
				<tr>
					<td><%#= request.date.strftime('%m/%d/%Y')%></td>
					<td><%#= request.date.strftime('%A')%></td>
					<td><%#= request.department%></td>
					<td><%#= request.employee_id%></td>
					<td><%#= request.ot_hours%></td>
					
					<%#unless request.ut_time.nil? %>
						<td>0</td>
					<%#else%>
						<td><%#= request.ut_time.strftime('%H:%M:%S') unless request.ut_time.nil?%></td>
					<%#end%>
					
					<td><%#= request.vacation_leave%></td>
					<td><%#= request.sick_leave%></td>
					<td><%#= request.official_business%></td>
					<td><%#= request.remarks%></td>
				</tr>
			<%#end%>
		</tbody>
	</table>
	<br/><br/><br/>
	<table id = "table_id3">
		<thead>
			<tr>
				<th>Date</th>
				<th>Day</th>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Time In</th>
				<th>Time Out</th>
				<th>No. of Hours Late</th>
				<th>No. of OT Hours</th>
				<th>Official Business</th>
				<th>VL</th>
				<th>SL</th>
				<th>Remarks</th>
			</tr>
		</thead>
		<tbody>
			<%#@employees.each do |employee|%>
				<%#next if employee.falco_id.nil? && employee.biometrics_id.nil?%>
				<%#while @date < @date_end%>
					<tr>
						<td><%#= @date.strftime('%m/%d/%Y')%></td>
						<td><%#= @date.strftime('%A')%></td>
						<td><%#= employee.last_name%></td>
						<td><%#= employee.first_name%></td>

						<% #@attendance = Attendance.where(employee_id: employee.id, attendance_date: @date).first%>
						<%#unless @attendance.nil?%>
							<td><%#= @attendance.time_in.strftime('%H:%M:%S')%></td>
							<%#unless @attendance.time_out.nil?%>
								<td><%#= @attendance.time_out.strftime('%H:%M:%S')%></td>
							<%#else%>
								<td></td>
							<%#end%>
							<%# @late = ((@attendance.time_in.strftime('%H:%M:%S').to_time - '08:30:00'.to_time)/1.hour) unless @attendance.time_in.nil?%>
						<%#else%>
							<%# @late = nil %>
							<td></td>
							<td></td>
						<%#end%>

						<%#unless @late.nil? || @late < 0%>
							<td><%#= sprintf '%.2f', @late%></td>
						<%#else%>
							<td></td>
						<%#end%>

						<% #@request = Request.where(employee_id: employee.id, date: @date).first%>
						<%#unless @request.nil?%>
							<td><%#= @request.ot_hours%></td>
							<td><%#= @request.official_business%></td>
							<td><%#= @request.vacation_leave%></td>
							<td><%#= @request.sick_leave%></td>
							<td><%#= @request.remarks%></td>
						<%#else%>

							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						<%#end%>
						<%# @date += 1.day%>
					</tr>
				<%#end%>
				<%#@date = @date_start%>
			<%#end%>
		</tbody>
	</table>
	<br/><br/><br/>
	<%#= link_to 'Download Zipfile', download_zip_reports_path(format: "xls"), class: "btn btn-success"%>
	<br/><br/><br/>
</div> -->
