<div class = "navbar navbar-default navbar-static-top">
	<div class = "container">
		<a href="#" class = "navbar-brand">
			Falco 
			<font color = "red">+</font> 
			Biometrics
			<font color = "red">+</font>
			iEMS <strong>Integration</strong>
		</a>

		<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
		</button>

		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class = "nav navbar-nav navbar-right">
				<li><%= link_to 'Home', '#', id: "home"%></li>
				<li><%= link_to 'New Report', '#', id: "generate_new_report"%></li>
				<li class = "active"><%= link_to 'Archives', '#', id: "archives"%></li>
				<%if @current_user.is_admin%>	
					<li><%= link_to 'Users', '#', id: "users"%></li>
				<%end%>
				<%= link_to 'Log Out', "#", id: "logout", class: "btn btn-md btn-warning navbar-btn"%>
			</ul>
		</div>
	</div>
</div>

<div class = "container animated fadeInRight" id = "welcomeDiv">
	<h1>DTR Reports</h1>
	<table class = "table table-striped">
		<thead>
			<tr>
				<th style = "text-align: center">Report Name</th>
				<th style = "text-align: center">Date From</th>
				<th style = "text-align: center">Date To</th>
				<th style = "text-align: center">Actions</th>
			</tr>
		</thead>
		<tbody>
			<%@reports.each do |report|%>
				<tr align = "center">
					<td><%= report.name%></td>
					<td><%= report.date_start.strftime('%B %e, %Y')%></td>
					<td><%= report.date_end.strftime('%B %e, %Y')%></td>
					<td>
						<div class = "btn-group" role = "group">
							<%= link_to 'View Report', report_path(report), class: "btn btn-warning view_report_button", id: "view_report_button"%>
							<%= link_to 'Download Report', report_download_zip_path(report), class: "btn btn-success download_report_button", id: "#{report.id}"%>
						</div>
					</td>
				</tr>
			<%end%>
		</tbody>
	</table>
</div>

<div id="loader-wrapper" class = "hidden">
    <div id="loader"></div>
    <div class = "loader-section">
    	<div class = "row">
    		<div class = "col-md-12">
    			<font color = "white" style = "font-size: 200%">
				Falco 
				<font color = "red">+</font> 
				Biometrics
				<font color = "red">+</font>
				iEMS <strong>Integration</strong>
			</font>
    		</div>
    	</div>
    	<div class = "row">
    		<div class = "col-md-12" align = "center"><h1><font color = "white">Retrieving Report...</font></h1></div>
    	</div>
    </div>
</div>

<script>
	$(".view_report_button").click(function(){
		document.getElementById("loader-wrapper").className = "animated fadeIn"
	});

	
	// $(".download_report_button").each(function(){
	// 	$(this).click(function(){
	// 		document.getElementById("loader-wrapper").className = "animated fadeIn"
	// 		$.ajax({
	//  			url: ("/reports/" + this.id + "/download_zip"),
	// 	        type: "GET",
	// 	        processData: false,
	//  			// data: $('generate_report_form').serialize(),
	//  			complete: function() {
	// 				document.getElementById("loader-wrapper").className = "animated fadeOut"
	// 				$('#body').addClass('loaded');
	// 			}
	//  		})	
	// 	});
	// });

	// $(".download_report_button").each(click(function(a, b){
	// 	document.getElementById("loader-wrapper").className = "animated fadeIn"
	// 	alert(b);
 		// $.ajax({
 		// 	url: ("/reports/" + b.id + "/download_zip"),
	  //       type: "GET",
	  //       // processData: false,
 		// 	// data: $('generate_report_form').serialize(),
 		// 	complete: function() {
			// 	document.getElementById("loader-wrapper").className = "animated fadeOut"
			// 	$('#body').addClass('loaded');
			// }
 		// });
	// }););
</script>

