<div class = "container">
	<h1>DTR Reports</h1>
	<table class = "table">
		<thead>
			<tr>
				<th>Date From</th>
				<th>Date To</th>
				<th colspan = "2">Actions</th>
			</tr>
		</thead>
		<tbody>
			<%@reports.each do |report|%>
				<tr>
					<td><%= report.date_start%></td>
					<td><%= report.date_end%></td>
					<td><%= link_to 'View Report', report_path(report), class: "btn btn-warning"%></td>
					<td><%= form_tag report_download_zip_path(report), method: :post do %>
							<%= submit_tag 'Download Report', class: "btn btn-success"%>
						<%end%>
					</td>
				</tr>
			<%end%>
		</tbody>
	</table>
</div>