<div class = "navbar navbar-default navbar-static-top">
	<div class = "container">
		<a href="#" class = "navbar-brand">
			Falco 
			<font color = "red">+</font> 
			Biometrics
			<font color = "red">+</font>
			iEMS <strong>Integration</strong>
		</a>

		<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
		</button>

		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class = "nav navbar-nav navbar-right">
				<li><%= link_to 'Home', '#', id: "home"%></li>
				<li><%= link_to 'New Report', '#', id: "generate_new_report"%></li>
				<li class = "active"><%= link_to 'Archives', '#', id: "archives"%></li>						
			</ul>
		</div>
	</div>
</div>

<div class = "container animated fadeInRight" id = "welcomeDiv">
	<h1>DTR Reports</h1>
	<table class = "table table-striped">
		<thead>
			<tr>
				<th style = "text-align: center">Date From</th>
				<th style = "text-align: center">Date To</th>
				<th style = "text-align: center">Actions</th>
			</tr>
		</thead>
		<tbody>
			<%@reports.each do |report|%>
				<tr align = "center">
					<td><%= report.date_start.strftime('%B %e, %Y')%></td>
					<td><%= report.date_end.strftime('%B %e, %Y')%></td>
					<td>
						<div class = "btn-group" role = "group">
							<%= link_to 'View Report', report_path(report), class: "btn btn-warning"%>
							<%= link_to 'Dowload Report', report_download_zip_path(report), class: "btn btn-success"%>
						</div>
					</td>
				</tr>
			<%end%>
		</tbody>
	</table>
</div>

