<div class = "navbar navbar-default navbar-static-top">
	<div class = "container">
		<a href="#" class = "navbar-brand">
			Falco 
			<font color = "red">+</font> 
			Biometrics
			<font color = "red">+</font>
			iEMS <strong>Integration</strong>
		</a>

		<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
		</button>

		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class = "nav navbar-nav navbar-right">
				<li><%= link_to 'Home', '#', id: "home"%></li>
				<li class = "active"><%= link_to 'New Report', '#', id: "generate_new_report"%></li>
				<li><%= link_to 'Archives', '#', id: "archives"%></li>
				<%if @current_user.is_admin%>	
					<li><%= link_to 'Users', '#', id: "users"%></li>
				<%end%>
				<li class = "dropdown">
					<a href="#" class = "dropdown-toggle" data-toggle = "dropdown"><%= @current_user.first_name%> <%= @current_user.last_name%><b class = "caret"></b></a>
					<ul class = "dropdown-menu">
						<li><%= link_to 'Your Profile', "#", id: "profile"%></li>
						<li><%= link_to 'Log Out', "#", id: "logout"%></li>
					</ul>
				</li>	
			</ul>
		</div>
	</div>
</div>

<div class="hidden" id = "welcomeDiv">

	<%unless notice.nil?%>
		<div style = "position: relative;">
			<div class = "alert alert-danger alert-dismissable col-md-12"  style = "position: absolute;">
				<button type = "button" class = "close" data-dismiss = "alert">&times;</button>
				<%= notice%>
			</div>
		</div>
	<%end%>

	<div class = "row" style = "margin-top:100px;" align = "center">
		<div class = "col-md-4" style = "height: 400px; border-style: solid; border-bottom-style: none; border-width: 1px">
			<div class = "col-md-12">
				<div class = "row"><h1>Step 1</h1></div>
				<div class = "row"><h3>Upload Biometrics CSV file</h3></div>
				<div class = "row">
					<p align = "justify">You can download the <strong>Biometrics CSV</strong> file from the MustardSeed Time and Attendance Management System. Download the time-in and time-out report as a comma separated values file.</p>
					<br/>
					<p align = "justify"> <strong>NOTE:</strong> Remember to match the date range with the other input files.</p>
				</div>
			</div>	
		</div>

		<div class = "col-md-4" style = "height: 400px; border-style: solid; border-bottom-style: none; border-width: 1px">
			<div class = "col-md-12">
				<div class = "row"><h1>Step 2</h1></div>
				<div class = "row"><h3>Upload Falco TXT file</h3></div>
				<div class = "row">
					<p align = "justify">You can download the <strong>FALCO TXT</strong> file from the Falco-Ecom Access Control System. Do not filter the report generation to include new proximity card holders.</p>
					<br/>
					<p align = "justify"> <strong>NOTE:</strong> Remember to match the date range with the other input files.</p>
				</div>
			</div>
		</div>

		<div class = "col-md-4" style = "height: 400px; border-style: solid; border-bottom-style: none; border-width: 1px">
			<div class = "col-md-12">
				<div class = "row"><h1>Step 3</h1></div>
				<div class = "row"><h3>Upload iEMS CSV file</h3></div>
				<div class = "row">
					<p align = "justify">You can download the <strong>iEMS CSV</strong> file from the iRipple Employee Management System (iEMS). The date range of the report will depend on the date range of the iEMS requests report.</p>
					<br/>
					<p align = "justify"> <strong>NOTE:</strong> Remember to match the date range with the other input files.</p>				
				</div>
			</div>
		</div>
	</div>
	
	
	<div class = "row" align = "center">
		<div class = "col-md-4" style = "height: 100px; border-style: solid; border-top-style: none; border-width: 1px">
			<div class = "hidden" id = "biometrics">
				<%= form_tag import_reports_path, html: {class: "import-form"}, multipart: true do%>
					<div class = "row">
						<div class = "col-md-2"></div>
						<span class="btn btn-default btn-file col-md-8">
						    Browse for Biometrics CSV...
							<%= file_field('biometrics', 'report', accept: 'csv', id: "biometrics_file_pick")%>
						</span>
					</div>
					<%= hidden_field_tag 'step', 2%>
					<div class = "row">
						<div class = "col-md-2"></div>
						<%= submit_tag 'Upload', class: "btn btn-warning col-md-8 hidden input-upload", id: "biometrics_upload"%>
					</div>
				<%end%>
			</div>

			<div class = "alert alert-success" id = "biometrics_alert">
				<button type = "button" class = "close" data-dismiss = "alert"></button>
				<strong>Biometrics CSV</strong> has been uploaded
			</div>
		</div>

		<div class = "col-md-4" style = "height: 100px; border-style: solid; border-top-style: none; border-width: 1px">
			<div class = "hidden" id = "falco">
				<%= form_tag import_reports_path, html: {class: "import-form"}, multipart: true do%>
					<div class = "row">
						<div class = "col-md-2"></div>
						<span class="btn btn-default btn-file col-md-8">
						    Browse for Falco TXT...
							<%= file_field('falco', 'report', accept: 'txt', id: "falco_file_pick")%>
						</span>
					</div>

					<%= hidden_field_tag 'step', 3%>
					<div class = "row">
						<div class = "col-md-2"></div>
						<%= submit_tag 'Upload', class: "btn btn-warning col-md-8 hidden input-upload", id: "falco_upload"%>
					</div>
				<%end%>
			</div>
			<div class = "alert alert-success" id = "falco_alert">
				<button type = "button" class = "close" data-dismiss = "alert"></button>
				<b>Falco TXT</b> has been uploaded
			</div>
		</div>

		<div class = "col-md-4" style = "height: 100px; border-style: solid; border-top-style: none; border-width: 1px">
			<div class = "hidden" id = "iEMS">
				<%= form_tag import_reports_path, html: {class: "import-form"}, multipart: true do%>
					<div class = "row">
						<div class = "col-md-2"></div>
						<span class="btn btn-default btn-file col-md-8">
						    Browse for iEMS CSV...
							<%= file_field('iEMS', 'report', accept: 'csv', id: "iEMS_file_pick")%>
						</span>
					</div>
					<%= hidden_field_tag 'step', 4%>
					<div class = "row">
						<div class = "col-md-2"></div>
						<%= submit_tag 'Upload', class: "btn btn-warning col-md-8 hidden input-upload", id: "iEMS_upload"%>
					</div>
				<%end%>
			</div>
			<div class = "alert alert-success" id = "iEMS_alert">
				<button type = "button" class = "close" data-dismiss = "alert"></button>
				<b>iEMS CSV</b> has been uploaded
			</div>
		</div>
	</div>

	<div align = "center" style = "margin-top:5%" id = "generate_report" class = "hidden">
		<div class = "col-md-12">
			<%= form_tag reports_path, method: :post, id: "generate_report_form" do %>
				<%= submit_tag 'Generate Reports', style: "width: 50%", id: "generate_report_button", class: "btn btn-lg btn-info"%>
			<%end%>
		</div>
	</div>
</div>

<div id="loader-wrapper" class = "hidden">
    <div id="loader"></div>

    <div class = "loader-section">
    	<div class = "row">
    		<div class = "col-md-12">
    			<font color = "white" style = "font-size: 200%">
				Falco 
				<font color = "red">+</font> 
				Biometrics
				<font color = "red">+</font>
				iEMS <strong>Integration</strong>
			</font>
    		</div>
    	</div>
    	<div class = "row">
    		<div class = "col-md-12" align = "center"><h1><font color = "white">Generating Reports...</font></h1></div>
    	</div>
    </div>
</div>

<div id="loader-wrapper" class = "upload hidden">
    <div id="loader"></div>

    <div class = "loader-section">
    	<div class = "row">
    		<div class = "col-md-12">
    			<font color = "white" style = "font-size: 200%">
				Falco 
				<font color = "red">+</font> 
				Biometrics
				<font color = "red">+</font>
				iEMS <strong>Integration</strong>
			</font>
    		</div>
    	</div>
    	<div class = "row">
    		<div class = "col-md-12" align = "center"><h1><font color = "white">Uploading Input File...</font></h1></div>
    	</div>
    </div>
</div>

<script>
	$(document).on('change', '.btn-file :file', function() {
	    var input = $(this),
	        numFiles = input.get(0).files ? input.get(0).files.length : 1,
	        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
	    input.trigger('fileselect', [numFiles, label]);
	});

	function getUrlParameter(sParam){
	    var sPageURL = window.location.search.substring(1);
	    var sURLVariables = sPageURL.split('&');
	    for (var i = 0; i < sURLVariables.length; i++) 
	    {
	        var sParameterName = sURLVariables[i].split('=');
	        if (sParameterName[0] == sParam) 
	        {
	            return sParameterName[1];
	        }
	    }
	}    

	var step = getUrlParameter('step')
 	
 	if (step == 1) {
 		document.getElementById("welcomeDiv").className = 'container animated fadeInRight'	
 		document.getElementById("biometrics").className = 'row'
 		document.getElementById("biometrics_alert").className = 'hidden'
 		document.getElementById("falco_alert").className = 'hidden'
 		document.getElementById("iEMS_alert").className = 'hidden'
 	}
 	else if (step == 2) {
 		document.getElementById("welcomeDiv").className = 'container animated'
 		document.getElementById("biometrics").className = 'row animated fadeOut'
 		document.getElementById("biometrics").style.display = 'none'
 		document.getElementById("falco").className = 'row animated fadeIn'
 		document.getElementById("falco_alert").className = 'hidden'
 		document.getElementById("iEMS_alert").className = 'hidden'
 		$("#biometrics_alert").addClass(' animated fadeIn')
 	}
 	else if (step == 3) {
 		document.getElementById("welcomeDiv").className = 'container animated'
 		document.getElementById("falco").className = 'row animated fadeOut'
 		document.getElementById("falco").style.display = 'none'
 		document.getElementById("iEMS").className = 'row animated fadeIn'
 		document.getElementById("iEMS_alert").className = 'hidden'	
 		$("#falco_alert").addClass(' animated fadeIn')
 	}	
 	else if (step == 4) {
 		document.getElementById("welcomeDiv").className = 'container animated'
 		document.getElementById("iEMS").className = 'row animated fadeOut'
 		document.getElementById("iEMS").style.display = 'none'
 		document.getElementById("generate_report").className = 'row animated fadeIn'	
 		$("#iEMS_alert").addClass(' animated fadeIn')
 	}

 	$("#generate_report_button").click(function(){
 		document.getElementById("loader-wrapper").className = "animated fadeIn"

 		$.ajax({
 			url: "/reports/create",
	        type: "POST",
	        processData: false,
 			data: $('generate_report_form').serialize(),
 			success: function() {
				document.getElementById("loader-wrapper").className = "animated fadeOut"
				$('#body').addClass('loaded');
			}
 		});
 	});

 	$(".input-upload").click(function(){
 		$(".upload").removeClass("hidden");
 		$(".upload").addClass("animated fadeIn");

 		$.ajax({
 			url: "/reports/import",
	        type: "POST",
	        processData: false,
 			data: $('.import-form').serialize(),
 			success: function() {
				// document.getElementById("loader-wrapper").className = "animated fadeOut"
				$(".upload").addClass("animated fadeOut");
				$('#body').addClass('loaded');
			}
 		});
 	});

 	$("#biometrics_file_pick").change(function(){
 		if ($(this).val) {
 			$("#biometrics_upload").removeClass("hidden")
 		};
 	});

 	$("#falco_file_pick").change(function(){
 		if ($(this).val) {
 			$("#falco_upload").removeClass("hidden")
 		};
 	});

 	$("#iEMS_file_pick").change(function(){
 		if ($(this).val) {
 			$("#iEMS_upload").removeClass("hidden")
 		};
 	});
 	$("#profile").click(function(event){
		$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
			function(){
				window.location = '<%= user_profile_path(@current_user)%>';
			}
			);
 	});
</script>