<!-- <div id="loader-wrapper"> -->
    <!-- <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div> -->
<!-- </div> -->

<div class = "navbar navbar-default navbar-fixed-top">
	<div class = "container">
		<a href="#" class = "navbar-brand">
			Falco 
			<font color = "red">+</font> 
			Biometrics
			<font color = "red">+</font>
			iEMS <strong>Integration</strong>
		</a>

		<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
		</button>

		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class = "nav navbar-nav navbar-right">
				<li><%= link_to 'Home', '#', id: "home"%></li>
				<li><%= link_to 'New Report', '#', id: "generate_new_report"%></li>
				<li class = "active"><%= link_to 'Archives', '#', id: "archives"%></li>
				<%if @current_user.is_admin%>	
					<li><%= link_to 'Users', '#', id: "users"%></li>
				<%end%>
				<%= link_to 'Download Report', report_download_zip_path(@report.id), class: "btn btn-md btn-success navbar-btn"%>
				<%= link_to 'Log Out', "#", id: "logout", class: "btn btn-md btn-warning navbar-btn"%>
			</ul>
		</div>
	</div>
</div>

<br/><br/><br/>
<div class = "container animated fadeInRight" id = "welcomeDiv">
	<h1>DTR for <%= @report.date_start.strftime('%B %e, %Y')%> - <%= @report.date_end.strftime('%B %e, %Y')%></h1>

	<table class = "table">
		<h4>Legends</h4>
		<tr>
			<td class = "info">&nbsp;</td>
			<td>Employee has request(s)/remark(s) for that day.<br/><b>*May incur late/undertime/half-day depending on his or her time-in and time-out.</b></td>
		</tr>
		<tr>
			<td class = "warning"></td>
			<td>Employee is considered half-day because of his time-in or time-out.<br/><b>*May incur two 0.5 in sick leave if employee's time-in is beyond 10:00 AM late and time-out is before 04:30 PM.</b></td>
		</tr>
		<tr>
			<td class = "danger"></td>
			<td>Employee has no time-in and therefore, considered as absent.</td>
		</tr>
	</table>

	<%@employees.each do |employee|%>
		<hr>
		<%@date = @report.date_start%>
		<table class = "table table-striped table-bordered">
			<h3><%= employee.last_name%>, <%= employee.first_name%></h3>
			<h4>Department: <%= employee.department%></h4>
			<thead>
				<tr>
					<th>Date</th>
					<th>Day</th>
					<th>Time In</th>
					<th>Time Out</th>
					<th>No. of Hours Late</th>
					<th>No. of Hours Undertime</th>
					<th>No. of OT Hours</th>
					<th>Approved UT</th>
					<th>Vacation Leave</th>
					<th>Sick Leave</th>
					<th>OB Departure</th>
					<th>OB Time Start</th>
					<th>OB Time End</th>
					<th>OB Arrival</th>
					<th>Offset</th>
					<th>Remarks</th>
				</tr>
			</thead>
			<tbody>
				<%while @date <= @report.date_end%>
					<%if employee.remarks(@date) != ''%>
						<tr class = "info">
					<%elsif employee.is_absent?(@date)%>
						<tr class = "danger">
					<%elsif employee.is_halfday?(@date)%>
						<tr class = "warning">
					<%else%>
						<tr>
					<%end%>
							<td><%= @date.strftime('%m-%d-%Y')%></td>
							<td><%= @date.strftime('%A')%></td>
							<td><%= employee.time_in(@date)%></td>
							<td><%= employee.time_out(@date)%></td>
							<td><%= employee.no_of_hours_late(@date)%></td>
							<td><%= employee.no_of_hours_undertime(@date)%></td>
							<td><%= employee.ot_for_the_day(@date)%></td>
							<td><%= employee.ut_time(@date).to_time.strftime('%H:%M:%S') unless employee.ut_time(@date).to_time.strftime('%H:%M:%S') == '00:00:00'%></td>
							<td><%= employee.vacation_leave(@date)%></td>
							<td><%= employee.sick_leave(@date)%></td>
							<td><%= employee.ob_departure(@date).strftime('%H:%M:%S') unless employee.ob_departure(@date).nil? || (employee.ob_departure(@date).is_a? Integer)%></td>
							<td><%= employee.ob_time_start(@date).strftime('%H:%M:%S') unless employee.ob_time_start(@date).nil? || (employee.ob_time_start(@date).is_a? Integer)%></td>
							<td><%= employee.ob_time_end(@date).strftime('%H:%M:%S') unless employee.ob_time_end(@date).nil? || (employee.ob_time_end(@date).is_a? Integer)%></td>
							<td><%= employee.ob_arrival(@date).strftime('%H:%M:%S') unless employee.ob_arrival(@date).nil? || (employee.ob_arrival(@date).is_a? Integer)%></td>
							<td><%= employee.offset(@date)%></td>
							<td><%= employee.remarks(@date)%></td>
						</tr>
					<%@date += 1.day%>
				<%end%>
				<tr>
					<td colspan = "2"></td>
					<td colspan = "2"><b>Number of Times Tardy</b></td>
					<td><%= employee.number_of_times_late(@report.date_start, @report.date_end)%></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td colspan = "6"></td>
				</tr>
				<tr>
					<td colspan = "2"></td>
					<td colspan = "2"><b>Total Tardiness</b></td>
					<td><%= employee.total_late(@report.date_start, @report.date_end)%></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td colspan = "6"></td>
				</tr>
				<tr>
					<td colspan = "4"></td>
					<td colspan = "2"><b>Total OT Hours</b></td>
					<td><%= employee.total_ot_hours(@report.date_start, @report.date_end)%></td>
					<td></td>
					<td></td>
					<td></td>
					<td colspan = "6"></td>
				</tr>
				<tr>
					<td colspan = "5"></td>
					<td colspan = "3"><b>Total Leaves Accumulated</b></td>
					<td><%= employee.total_vl(@report.date_start, @report.date_end, @cut_off_date)%></td>
					<td><%= employee.total_sl(@report.date_start, @report.date_end, @cut_off_date)%></td>
					<td colspan = "8"></td>
				</tr>
			</tbody>
		</table>
		<div class = "row">
			<div class = "col-md-3"><b>ACCUMULATED OT</b></div>
			<div class = "col-md-2"><%= employee.total_ot_hours_to_string(@report.date_start, @report.date_end)%></div>
		</div>
		<div class = "row">
			<div class = "col-md-3"><b>LATES</b></div>
			<div class = "col-md-2"><%= employee.total_late_to_string(@report.date_start, @report.date_end)%></div>
		</div>
		<div class = "row">
			<div class = "col-md-3"><b>ACCUMULATED VL</b></div>
			<div class = "col-md-2"><%= employee.total_vl_to_string(@report.date_start, @report.date_end, @cut_off_date)%></div>
		</div>
		<div class = "row">
			<div class = "col-md-3"><b>ACCUMULATED SL</b></div>
			<div class = "col-md-2"><%= employee.total_sl_to_string(@report.date_start, @report.date_end, @cut_off_date)%></div>
		</div>
		<div class = "row">
			<div class = "col-md-3"><b>VL BALANCE</b></div>
			<div class = "col-md-2"><%= employee.vacation_leave_balance_to_string(@report.date_start)%></div>
		</div>
		<div class = "row">
			<div class = "col-md-3"><b>SL BALANCE</b></div>
			<div class = "col-md-2"><%= employee.sick_leave_balance_to_string(@report.date_start)%></div>
		</div>
		<div class = "row">
			<div class = "col-md-3"><b>TOTAL</b></div>
			<div class = "col-md-2"><%= employee.summary_total_to_string(@report.date_start, @report.date_end, @cut_off_date)%></div>
		</div> 
	<%end%>
	<br/><br/><br/>
</div>

<script>
	// $.ajax({
	// 	url: "/reports/loading_animation",
	// 	cache: false,
	// 	success: function(html){
	// 		$("#loader-wrapper").append(html);
	// 	}
	// })
</script>