<%= form_for @employee, html: {class: "form-horizontal"} do |f|%>
	<div class = "modal-body">
		<div class = "form-group">
			<%= label_tag :id, "Employee ID:", class: "col-md-3 control-label"%>
			<div class = "col-md-9">
				<%= f.text_field :id, class: "form-control"%>
			</div>
		</div>
		<div class = "form-group">
			<%= label_tag :first_name, "First name:", class: "col-md-3 control-label"%>
			<div class = "col-md-9">
				<%= f.text_field :first_name, class: "form-control"%>
			</div>
		</div>
		<div class = "form-group">
			<%= label_tag :last_name, "Last Name:", class: "col-md-3 control-label"%>
			<div class = "col-md-9">
				<%= f.text_field :last_name, class: "form-control"%>
			</div>
		</div>
		<div class = "form-group">
			<%= label_tag :department, "Department:", class: "col-md-3 control-label"%>
			<div class = "col-md-9">
				<%= f.text_field :department, class: "form-control"%>
			</div>
		</div>
	</div>
	<div class = "modal-footer">
		<%= f.submit "Save", class: "btn btn-primary"%>
	</div>
<%end%>
