<!DOCTYPE html>
<html>
<head>
  <title>FBI Integration</title>
  	  <%= javascript_include_tag 'jquery-1.11.2.min', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-track' => true %>
	  <%= stylesheet_link_tag 'animate', media: 'all', 'data-turbolinks-track' => true %>
  	  <%= stylesheet_link_tag 'jquery.dataTables', media: 'all', 'data-turbolinks-track' => true %>
	  <%#= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
	  <%= stylesheet_link_tag 'bootstrap-flatly.min', media: 'all', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
<script>
	$("#home").click(function(event){
		// $("#welcomeDiv").removeClass("animated fadeOutLeft")
		// Event.stop(event);
		// var href = $(this).attr('<%= root_path%>');
		$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
			function(){
				window.location = '<%= root_path%>';
			}
			);
 	});

	$("#generate_new_report").click(function(event){
		// $("#welcomeDiv").removeClass("animated fadeInRight")
		// Event.stop(event);
		$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
			function(){
				window.location = '<%= new_report_path(step: 1)%>';
			}
			);
 	});
 	$("#archives").click(function(event){
		// $("#welcomeDiv").removeClass("animated fadeOutLeft")
		$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
			function(){
				window.location = '<%= reports_path%>';
			}
			);
 	});
</script>

</body>
</html>