<!DOCTYPE html>
<html>
<head>
  <title>FBI Integration</title>
  	  <%= javascript_include_tag 'jquery-1.11.2.min', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'modernizr-2.6.2.min', 'data-turbolinks-track' => true%>
	  <%= stylesheet_link_tag 'animate', media: 'all', 'data-turbolinks-track' => true %>
	  <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track' => true%>
	  <%= stylesheet_link_tag 'normalize', media: 'all', 'data-turbolinks-track' => true%>
	  <%= stylesheet_link_tag 'bootstrap-flatly.min', media: 'all', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
<script>
	$("#home").click(function(event){
		$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
			function(){
				window.location = '<%= index_path%>';
			}
			);
 	});

	$("#generate_new_report").click(function(event){
		$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
			function(){
				window.location = '<%= new_report_path(step: 1)%>';
			}
			);
 	});
 	$("#archives").click(function(event){
		$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
			function(){
				window.location = '<%= reports_path%>';
			}
			);
 	});
 	$("#users").click(function(event){
		$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
			function(){
				window.location = '<%= users_path%>';
			}
			);
 	});
 	$("#logout").click(function(event){
		$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
			function(){
				window.location = '<%= logout_path%>';
			}
			);
 	});
</script>

</body>
</html>