<div class = "navbar navbar-default navbar-static-top">
	<div class = "container">
		<a href="#" class = "navbar-brand">
			Falco 
			<font color = "red">+</font> 
			Biometrics
			<font color = "red">+</font>
			iEMS <strong>Integration</strong>
		</a>

		<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
		</button>

		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class = "nav navbar-nav navbar-right">
				<li class = "active"><%= link_to 'Home', '#', id: "home"%></li>
				<li><%= link_to 'New Report', '#', id: "generate_new_report"%></li>
				<li><%= link_to 'Archives', '#', id: "archives"%></li>
				<%if @current_user.is_admin%>	
					<li><%= link_to 'Users', '#', id: "users"%></li>
				<%end%>
				<li class = "dropdown">
					<a href="#" class = "dropdown-toggle" data-toggle = "dropdown"><%= @current_user.first_name%> <%= @current_user.last_name%><b class = "caret"></b></a>
					<ul class = "dropdown-menu">
						<li><%= link_to 'Your Profile', "#", id: "profile"%></li>
						<li><%= link_to 'Log Out', "#", id: "logout"%></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class = "container animated fadeInRight" id = "welcomeDiv" align = "center">
		<br/><br/><br/><br/><br/><br/>
		
		<h1 style = "color: black; font-size: 500%">
			Falco 
			<font color = "red">+</font> 
			Biometrics
			<font color = "red">+</font>
			iEMS
		</h1>
		
		<br/><br/><br/><br/><br/><br/><br/><br/>
		<!-- <div class = "row">
			<div class = "col-md-3"></div>
			<%#= link_to 'Generate New report', '#', id: "generate_new_report_button", class: "btn btn-lg btn-success col-md-6"%>
		</div>
		
		<br/>
		
		<div class = "row">
			<div class = "col-md-3"></div>
			<%#= link_to 'Go to Archives', '#', class: "btn btn-lg btn-info col-md-6", id: 'archives_button'%>
		</div>
		
		<br/> -->

		<!-- <div class = "row">
			<div class = "col-md-3"></div>
			<%#= form_tag delete_all_records_reports_path, method: :post do%>
				<%#= submit_tag 'Delete All Records', id: "delete_all", class: "btn btn-lg btn-danger col-md-6"%>
			<%#end%>
		</div> -->

		<br/><br/><br/>
</div>

<script>
	// $("#generate_new_report_button").click(function(event){
	// 	$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
	// 		function(){
	// 			window.location = '<%#= new_report_path(step: 1)%>';
	// 		}
	// 		);
 // 	});
 // 	$("#archives_button").click(function(event){
	// 	$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
	// 		function(){
	// 			window.location = '<%#= reports_path%>';
	// 		}
	// 		);
 // 	});

 	$("#profile").click(function(event){
		$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
			function(){
				window.location = '<%= user_profile_path(@current_user)%>';
			}
			);
 	});
</script>