<nav class = "navbar navbar-default navbar-static-top">
	<div class = "container">
		<a href="#" class = "navbar-brand">
			Falco 
			<font color = "red">+</font> 
			Biometrics
			<font color = "red">+</font>
			iEMS <strong>Integration</strong>
		</a>s

		<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
		</button>

		<%= form_tag login_attempt_path, class: "navbar-form navbar-right" do%>
			<div class = "form-group">
				<%= text_field_tag :username, params[:username], placeholder: "Username", class: "form-control"%>
				<%= password_field_tag :login_password, params[:login_password], placeholder: "Password", class: "form-control"%>
				<%= submit_tag 'Log In', id: "login", class: "btn btn-default"%>
			</div>
		<%end%>
	</div>
</nav>

<div class = "container animated fadeInRight" id = "welcomeDiv" align = "center">
<%unless notice.nil?%>
	<div style = "position: relative;">
		<div class = "alert alert-danger alert-dismissable col-md-12"  style = "position: absolute;">
			<button type = "button" class = "close" data-dismiss = "alert">&times;</button>
			<%= notice%>
		</div>
	</div>
<%end%>
	<br/><br/><br/><br/><br/><br/>
	
	<h1 style = "color: black; font-size: 500%">
		Falco 
		<font color = "red">+</font> 
		Biometrics
		<font color = "red">+</font>
		iEMS
	</h1>
</div>

<script>
	$("#login").click(function(event){
		$("#welcomeDiv").addClass(" animated fadeOutLeft");
		$("#loader-wrapper").addClass(" animated fadeOut");
	});
</script>