<div class = "navbar navbar-default navbar-static-top">
	<div class = "container">
		<a href="#" class = "navbar-brand">
			Falco 
			<font color = "red">+</font> 
			Biometrics
			<font color = "red">+</font>
			iEMS <strong>Integration</strong>
		</a>

		<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
		</button>

		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class = "nav navbar-nav navbar-right">
				<li><%= link_to 'Home', '#', id: "home"%></li>
				<li><%= link_to 'New Report', '#', id: "generate_new_report"%></li>
				<li><%= link_to 'Archives', '#', id: "archives"%></li>
				<%if @current_user.is_admin%>	
					<li class = "active"><%= link_to 'Users', '#', id: "users"%></li>
				<%end%>
				<%= link_to 'Log Out', "#", id: "logout", class: "btn btn-md btn-warning navbar-btn"%>
			</ul>
		</div>
	</div>
</div>

<div class = "container animated fadeIn" id = "welcomeDiv">
	<table class = "table table-striped">
		<div class = "row">
			<div class = "col-md-6"><h1>Users of FBI Integration</h1></div>
			<div class = "col-md-6"><%#= link_to 'Create New User', new_user_path, class: "btn btn-success pull-right", data: {toggle: "modal", target: "#add"}%><%= link_to 'Create New User', new_user_path, class: "btn btn-success pull-right"%></div>			
		</div>
		<thead>
			<tr>
				<th>Name</th>
				<th>Username</th>
				<th>Department</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<%@users.each do |user|%>
				<%#unless user.id == @current_user.id%>
					<tr>
						<td><%= user.last_name%>, <%= user.first_name%></td>
						<td><%= user.username%></td>
						<td><%= user.department%></td>
						<%if user.is_active%>
							<td><font color = "green">Active</font></td>
						<%else%>
							<td><font color = "red">Inactive</font></td>
						<%end%>
						<td>
							<div class = "btn-group" role = "group">
								<%= link_to 'Edit', edit_user_path(user), class: "btn btn-info"%>
								<%unless user.id == @current_user.id%>
									<%if user.is_active%>
										<%= link_to 'Deactivate', user_deactivate_path(user), id: "users_deactivate", class: "btn btn-danger"%>
									<%else%>
										<%= link_to 'Activate', user_activate_path(user), id: "users_activate", class: "btn btn-warning"%>
									<%end%>
								<%end%>
							</div>
						</td>	
					</tr>
				<%#end%>
			<%end%>
		</tbody>
	</table>
</div>

<!-- Modal for the addition of new user -->
<!-- <div class = "modal fade" id = "add" role = "dialog">
	<div class = "modal-dialog">
		<div class = "modal-content"></div>
	</div>
</div> -->