<div class = "navbar navbar-default navbar-static-top">
	<div class = "container">
		<a href="#" class = "navbar-brand">
			Falco 
			<font color = "red">+</font> 
			Biometrics
			<font color = "red">+</font>
			iEMS <strong>Integration</strong>
		</a>

		<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
		</button>

		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class = "nav navbar-nav navbar-right">
				<li><%= link_to 'Home', '#', id: "home"%></li>
				<li><%= link_to 'New Report', '#', id: "generate_new_report"%></li>
				<li><%= link_to 'Archives', '#', id: "archives"%></li>
				<%if @current_user.is_admin%>	
					<li class = "active"><%= link_to 'Users', '#', id: "users"%></li>
				<%end%>
				<li class = "dropdown">
					<a href="#" class = "dropdown-toggle" data-toggle = "dropdown"><%= @current_user.first_name%> <%= @current_user.last_name%><b class = "caret"></b></a>
					<ul class = "dropdown-menu">
						<li><%= link_to 'Your Profile', "#", id: "profile"%></li>
						<li><%= link_to 'Log Out', "#", id: "logout"%></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class = "container animated fadeInRight" id = "welcomeDiv">
	<table class = "table table-striped">
		<div class = "row">
			<div class = "col-md-6"><h1>Users of FBI Integration</h1></div>
			<div class = "btn-group col-md-6" role = "group">
				<%= link_to 'Create New Admin', new_user_path(create_admin: true), class: "btn btn-warning pull-right", id: "create_user"%>
				<%= link_to 'Create New User', new_user_path(create_admin: false), class: "btn btn-success pull-right", id: "create_user"%>
			</div>
		</div>
		<thead>
			<tr>
				<th>Name</th>
				<th>Username</th>
				<th>Department</th>
				<th>Type</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<%@users.each do |user|%>
				<%unless user.id == @current_user.id%>
					<tr>
						<td><%= user.last_name%>, <%= user.first_name%></td>
						<td><%= user.username%></td>
						<td><%= user.department%></td>
						<%if user.is_admin%>
							<td>Admin</td>
						<%else%>
							<td>User</td>
						<%end%>
						<%if user.is_active%>
							<td><font color = "green">Active</font></td>
						<%else%>
							<td><font color = "red">Inactive</font></td>
						<%end%>
						<td>
							<div class = "btn-group" role = "group">
								<%if user.is_admin%>
									<%= link_to 'Edit', edit_user_path(user, create_admin: true), class: "btn btn-info"%>
								<%else%>
									<%= link_to 'Edit', edit_user_path(user), class: "btn btn-info"%>
								<%end%>
								<%if user.is_active%>
									<%= link_to 'Deactivate', user_deactivate_path(user), id: "users_deactivate", class: "btn btn-danger", style: "width:100px"%>
								<%else%>
									<%= link_to 'Activate', user_activate_path(user), id: "users_activate", class: "btn btn-warning", style: "width:100px"%>
								<%end%>
							</div>
						</td>	
					</tr>
				<%end%>
			<%end%>
		</tbody>
	</table>
</div>

<script>
	$("#create_user").click(function(event){
		$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
			function(){
				window.location = '<%= users_path%>';
			}
			);
 	});
 	$("#profile").click(function(event){
		$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
			function(){
				window.location = '<%= user_profile_path(@current_user)%>';
			}
			);
 	});
 	// $("#users_deactivate").click(function(event){
		// // $("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend'
		// // 	);
 	// 	document.getElementById("users_deactivate").className = "animated fadeOutLeft"
 	// });
</script>