<div class = "navbar navbar-default navbar-static-top">
	<div class = "container">
		<a href="#" class = "navbar-brand">
			Falco 
			<font color = "red">+</font> 
			Biometrics
			<font color = "red">+</font>
			iEMS <strong>Integration</strong>
		</a>

		<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
			<span class = "icon-bar"></span>
		</button>

		<div class = "collapse navbar-collapse navHeaderCollapse">
			<ul class = "nav navbar-nav navbar-right">
				<li><%= link_to 'Home', '#', id: "home"%></li>
				<li><%= link_to 'New Report', '#', id: "generate_new_report"%></li>
				<li><%= link_to 'Archives', '#', id: "archives"%></li>
				<%if @current_user.is_admin%>	
					<li><%= link_to 'Users', '#', id: "users"%></li>
				<%end%>
				<li class = "dropdown">
					<a href="#" class = "dropdown-toggle" data-toggle = "dropdown"><%= @current_user.first_name%> <%= @current_user.last_name%><b class = "caret"></b></a>
					<ul class = "dropdown-menu">
						<li><%= link_to 'Your Profile', "#", id: "profile"%></li>
						<li><%= link_to 'Log Out', "#", id: "logout"%></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class = "container animated fadeInRight" id = "welcomeDiv">
	<h1><%= @user.first_name%> <%= @user.last_name%></h1>
	<%if @user.is_admin%>
		<%= render 'admin_form'%>
	<%else%>
		<%= render 'user_form'%>
	<%end%>
</div>

 <% if @user.errors.any? %>
    <ul>
    <% for message_error in @user.errors.full_messages %>
      <li><%= message_error %></li>
    <% end %>
    </ul>
  <% end %>

  <script>
 	$("#profile").click(function(event){
		$("#welcomeDiv").addClass("animated fadeOutLeft").one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', 
			function(){
				window.location = '<%= user_profile_path(@current_user)%>';
			}
			);
 	});
  </script>